<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowBot</title>

    <%- include ('./partials/header')%>

        <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <%- include('./partials/navbar') %>
        <div class="container pt-5 pb-5">
            <div class="card main-card p-0">
                <div class="px-3 py-3">
                    <h4 class="text-hello font-weight-bold">Halo, Sobat GrowBot!</h4>

                    <h5 class="text-condition mb-3">
                        Keadaan Tanaman Saat Ini :
                    </h5>
                    <div class="col-6">
                        <div class="d-flex justify-content-around">
                            <div class="text-center text-info condition-value">
                                <h3 class="font-weight-bold">
                                    <span id="temperatureText">27</span>°C

                                </h3>
                                <p>Suhu</p>
                            </div>
                            <div class="text-center amber-text condition-value">
                                <h3 class="font-weight-bold">
                                    <span id="humidityText">20</span>
                                </h3>
                                <p>Kelembaban</p>
                            </div>
                            <div class="text-center light-green-text condition-value">
                                <h3 class="font-weight-bold">
                                    <span id="greenLevelText">7</span>
                                </h3>
                                <p>Tingkat Kehijauan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="main-card-illustration" src="/svg/main-card-illustration.svg" alt="">
            </div>
            <div id="fuzzyficationResult" class="mb-5 fade-in">
                <h3 class="mt-5 font-weight-bold text-center text-hello">Hasil Proses Fuzzifikasi</h3>
                <hr style="width:50%;" class="white accent-1">
                <div class="row mb-3 mt-5">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-center font-weight-bold mb-5 text-info">
                                    Suhu
                                </h5>
                                <div id="temperatureFuzzyResult"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-3 mt-5">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-center font-weight-bold mb-5 amber-text">
                                    Kelembaban
                                </h5>
                                <div id="humidityFuzzyResult"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-center font-weight-bold mb-5 green-text">
                                    Tingkat Kehijauan
                                </h5>
                                <div id="greenLevelFuzzyResult"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--Fuzzification Result Section End-->

            <div id="inferenceContainer" class="fade-in mb-5">

                <div class="card">
                    <div class="card-body">
                        <h4 class="font-weight-bold mb-5 amber-text">Rules Digunakan</h4>
                        <div id="inferenceResult"></div>
                    </div>
                </div>

            </div>
            <!-- Inference End -->

            <div id="minImplicationContainer" class="fade-in mb-5">

                <div class="card">
                    <div class="card-body">
                        <h4 class="font-weight-bold mb-5 amber-text ">Minimum Implication</h4>
                        <div id="minImplicationResult"></div>
                    </div>
                </div>

            </div>

            <div id="maxImplicationContainer" class="fade-in mb-5">

                <div class="card">
                    <div class="card-body">
                        <h4 class="font-weight-bold mb-5 amber-text">Maximum Implication</h4>
                        <div id="maxImplicationResult"></div>
                    </div>
                </div>

            </div>


            <div id="mamdaniContainer">

                <div class="card">
                    <div class="card-body">
                        <h4 class="font-weight-bold mb-5 amber-text">Defuzzifikasi Mamdani</h4>
                        <div id="mamdaniResult"></div>
                    </div>
                </div>

            </div>

        </div>



        <%- include ('./partials/footer')%>

            <script src="/js/dashboard.js"></script>
</body>

</html>