.text-hello {
    color: #c4c4c4;
}

.text-white {
    color: #c4c4c4;
}

.main-card {
    position: relative;
    padding: 0px;
    border-radius: 8px;
}

.main-card-illustration {
    position: absolute;
    right: 5px;
    top: 2px;
    height: 100%;
    width: 200px;
}

.text-condition {
    font-weight: 500;
}

.condition-value {
    font-weight: 500;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1.5s;
}